.search-parent {
    z-index:2;
    position: absolute;
    left: 80px;
    top:50px;
    width: 600px;
}

.search-parent .search-input-way{
    box-sizing: border-box;
    border: 0;
    padding: 9px 0;
    border-left: 10px solid transparent;
    border-right: 1px solid #f2f2f2;;
    line-height: 20px;
    font-size: 16px;
    height: 38px;
    color: #333;
    position: relative;
    border-radius: 2px 0 0 2px;
    width: 360px;
}

.search-parent .search-button{
    position:absolute;
    left:401px;
    top:0;
    width:55px;
    height:38px;
    background:url(https://webmap1.bdimg.com/wolfman/static/common/images/new/searchbox_f175577.png) no-repeat 0 -76px #3385ff;
}

.search-parent .search-route{
    position:absolute;
    width:40px;
    height:38px;
    left: 360px;
    top:0;
    background: url(https://webmap1.bdimg.com/wolfman/static/common/images/new/searchbox_f175577.png) no-repeat 0 0 white;
}


.search-navigate .ant-tabs-nav .ant-tabs-tab{
    margin: 0 5px !important;
    height: 38px !important;
}

.search-navigate .ant-tabs-nav .ant-tabs-tab i{

    display: inline-block;
    position: relative;
    top: 2px;
    width: 18px;
    height: 16px;
    background-image: url(//webmap1.bdimg.com/wolfman/static/common/images/new/route-icon_2c25ce2.png);
    background-repeat: no-repeat;
}

.search-navigate .ant-tabs-tab-active .ant-tabs-tab .car-tab i{
    background-position:0 -82px !important;
}

.search-navigate .ant-tabs-nav .ant-tabs-tab .bus-tab:hover i{
    background-position:0 -17px;
}
.search-navigate .ant-tabs-nav .ant-tabs-tab .car-tab i{
    background-position:0 -68px;
}




.search-navigate .ant-tabs-nav .ant-tabs-tab .walk-tab i{
    background-position:0 -100px;
}

.search-navigate .ant-tabs-nav .ant-tabs-tab .walk-tab:hover i{
    background-position:0 -119px;
}

.search-navigate .ant-tabs-nav .ant-tabs-tab .bike-tab i{
    background-position:0 -137px;
}

.search-navigate .ant-tabs-nav .ant-tabs-tab .bike-tab:hover i{
    background-position:0 -156px;
}

.search-navigate{
    width: 440px;
    background-color: white;
    height: 38px;
}

.search-navigate .searchbox-content-common {
    width: 360px;
    height: 38px;
    position: relative;
}

.search-navigate .search-closeNavigate{
    width:45px;
    height:38px;
    background: url(//webmap1.bdimg.com/wolfman/static/common/images/new/searchbox_f175577.png) no-repeat 0 -38px;
    position: absolute;
    left: 361px;
    top: 0;
}

.search-navigate .search-route-start{
    position: absolute;
    top: 38px;
    height: 40px;
    width: 321px;
    background-color: white;
    border-bottom: 1px solid #f2f2f2;
    left: 40px;
}

.search-navigate .search-route-end{
    position: absolute;
    top: 78px;
    height: 40px;
    width: 321px;
    background-color: white;
    left: 40px;
}

.search-navigate .search-change{
    position: absolute;
    top:38px;
    height: 80px;
    width: 40px;
    background-color: white;
}

.search-navigate .route-input-icon{
    width: 11px;
    height: 10px;
    background: url(//webmap1.bdimg.com/wolfman/static/common/images/new/start_f51000d.png) no-repeat 0 0;
    position: absolute;
    top: 15px;
    left: 3px;
}

.search-route-start .route-input{
    height: 39px;
    position: absolute;
    left: 24px;
    border: 0;
    width: 260px;
    outline: 0;
}

.search-route-start .route-clear{
    cursor: pointer;
    position: absolute;
    width: 27px;
    height: 38px;
    top: 0;
    right: 8px;
    background: url(//webmap1.bdimg.com/wolfman/static/common/images/new/searchbox_f175577.png) no-repeat 0 -114px #fff;
}

.search-route-start .route-add{
    width: 16px;
    height: 16px;
    position: absolute;
    background: url(//webmap1.bdimg.com/wolfman/static/common/images/ui3/mo_banner_b38c3ca.png) no-repeat -1px -223px;
    top: 11px;
    right: 15px;
    cursor: pointer;
}

.search-route-end .route-input-icon{
    position: absolute;
    top: 15px;
    left: 3px;
    width: 11px;
    height: 10px;
    background: url(//webmap0.bdimg.com/wolfman/static/common/images/new/end_f68595d.png) no-repeat 0 0
}


.search-route-end .route-input{
    height: 39px;
    position: absolute;
    left: 24px;
    border: 0;
    width: 260px;
    outline: 0;
}

.search-navigate .search-add-white{
    height: 80px;
    position: absolute;
    left: 361px;
    background-color: white;
    width: 40px;
}

.search-navigate .change-start-end{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 14px;
    margin-left: -9px;
    margin-top: -7px;
    background: url(//webmap1.bdimg.com/wolfman/static/common/images/new/revert_9adb172.png) no-repeat 0 0;
}
.search-parent .search-circle{

    position:absolute;
    left:466px;
    top:0;
    width:50px;
    height:38px;
    background:url(../image/point.png) no-repeat 7px 1px  #3385ff;
    background-size: 35px 35px;
}

.search-route-end .route-clear-end{

    cursor: pointer;
    position: absolute;
    width: 27px;
    height: 38px;
    top: 0;
    right: 8px;
    background: url(//webmap1.bdimg.com/wolfman/static/common/images/new/searchbox_f175577.png) no-repeat 0 -114px #fff;
}

.AMap-data .change-map-type{
    position: absolute;
    bottom: 204px;
    z-index: 4;
    right: 37px;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
}

.AMap-data .change-map-type .change-map-2D-icon{
    position: absolute;
    z-index: 5;
    outline: none;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    right: 2px;
    top: 2px;
    background: url(//webmap0.bdimg.com/image/api/gl-navi-control-pc4.png) -110px 1px / 266px no-repeat rgb(255, 255, 255);
}

.AMap-data .change-map-type .change-map-2D-icon:hover{
    background-position: -162px 1px;
}


.AMap-data .change-map-type .change-map-3D-icon{
    position: absolute;
    z-index: 5;
    outline: none;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    right: 2px;
    top: 2px;
    background: url(//webmap0.bdimg.com/image/api/gl-navi-control-pc4.png) -188px 1px / 266px no-repeat rgb(255, 255, 255);
}

.AMap-data .change-map-type .change-map-3D-icon:hover{
    background-position: -240px 1px;
}