.custom-info .content-window-card {
    position: relative;
    box-shadow: none;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 0;
}

.custom-info .content-window-card p {
    height: 2rem;
}

.custom-info {
    border: solid 1px silver;
}

.custom-info .info-top {
    position: relative;
    background: none repeat scroll 0 0 #FFF;
    border-bottom: 1px solid #FFF;
    border-radius: 5px 5px 0 0;
}

.custom-info .info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}

.custom-info .info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}

.custom-info .info-top img:hover {
    box-shadow: 0px 0px 5px #000;
}

.custom-info .info-middle {
    font-size: 12px;
    padding: 10px 6px;
    line-height: 20px;
}

.custom-info .info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
}

.custom-info .info-bottom img {
    position: relative;
    z-index: 104;
}

.custom-info span {
    margin-left: 5px;
    font-size: 11px;
}

.custom-info .info-middle img {
    float: left;
    margin-right: 6px;
}

/*高德地图jsp去掉Logo*/
.amap-logo, .amap-copyright {
    display: none !important;
}


.right-container  p, ol, ul, li, tr, th, td, input {
    margin: 0;
    padding: 0
}

.right-container  ul, ol {
    list-style: none
}

.right-container  img, table {
    border: 0
}

.right-container #app-right-top {
    z-index: 4;
    position: absolute;
    top: 20px;
    right: 37px;
    background-color: #fff;
}

.right-container #tool-container {
    float: right;
    margin-right: 3px;
}

.right-container .ui3-control-wrap {
    box-sizing: border-box;
    position: relative;
}

.right-container .ui3-control-wrap #ui3_city_change {
    display: inline-block;
    float: left;
    border-radius: 2px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}

.right-container .weather-item span {
    margin-left: 5px;
    font-size: 11px;
}

.right-container .ui3-control-wrap #ui3_city_change .adjustpadding {
    float: left;
    width: 5px;
    height: 34px;
    border-radius: 2px 0 0 2px;
    padding-left: 7px;
    background: #fff;
}

.right-container .ui3-control-wrap #weather {
    display: inline-block;
    line-height: 33px;
    height: 34px;
    background-color: #fff;
    text-decoration: none;
    vertical-align: middle;
    float: left;
}

.right-container .ui3-control-wrap #weather img {
    width: 16px;
    height: 16px;
    padding-top: 0px;
    margin-right: 6px;
    vertical-align: middle;
    border: 0;
}

.right-container .ui3-control-wrap .ui3-city-change-inner {
    float: left;
    display: inline-block;
    padding-right: 12px;
    height: 34px;
    line-height: 34px;
    background-color: #fff;
    color: #666;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
}

.right-container .ui3-control-wrap .ui3-city-change-inner em {
    width: 7px;
    height: 7px;
    margin-left: 5px;
    float: right;
    margin-top: 13px;
    background-image: url(//webmap1.bdimg.com/wolfman/static/common/images/ui3/tools/newtools_9ddbaad.png);
    background-repeat: no-repeat;
    background-position: -13px -17px;
}

.right-container .ui3-control-wrap .left, .ui3-control-wrap .right {
    height: 34px;
    background: #fff;
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}

.right-container .float-l {
    float: left;
}

.right-container .ui3-control-wrap .left b, .ui3-control-wrap .right b {
    float: left;
    height: 21px;
    display: inline-block;
    border-right: 1px solid #eee;
    top: 7px;
    position: relative;
}

.right-container .ui3-control-wrap .trafficopt {
    padding-right: 12px;
    line-height: 34px;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.right-container .ui3-control-wrap .traffic {
    background-position: 1px -114px;
}

.right-container .ui3-control-wrap .boxinfo li .measure {
    background-position: -80px -117px;
}

.right-container .ui3-control-wrap .left span, .ui3-control-wrap .right span {
    float: left;
    height: 34px;
    width: 29px;
    background-image: url(//webmap1.bdimg.com/wolfman/static/common/images/ui3/tools/newtools_9ddbaad.png);
    background-repeat: no-repeat;
}

.right-container .ui3-control-wrap .last {
    border: 0!important;
}

.right-container .ui3-control-wrap .traffic {
    background-position: 1px -114px;
}

.right-container .ui3-control-wrap i {
    float: left;
    font-size: 12px;
    font-style: normal;
    height: 34px;
    line-height: 34px;
    display: inline-block;
}

.right-container .ui3-control-wrap .boxopt {
    padding-right: 12px;
    line-height: 34px;
    float: left;
    cursor: pointer;
    display: inline-block;
}

.right-container .ui3-control-wrap .boxopt em {
    width: 7px;
    height: 7px;
    float: left;
    margin-top: 13px;
    margin-left: 5px;
    background-image: url(//webmap1.bdimg.com/wolfman/static/common/images/ui3/tools/newtools_9ddbaad.png);
    background-repeat: no-repeat;
    background-position: -13px -17px;
}

.right-container .ui3-control-wrap .boxopt em.active {
    background-position: -12px -177px;
}

.right-container .ui3-control-wrap .boxinfo li .mark {
    background-position: -80px -168px;
}

.right-container .ui3-control-wrap .left span, .ui3-control-wrap .right span {
    float: left;
    height: 34px;
    width: 29px;
    background-image: url(//webmap1.bdimg.com/wolfman/static/common/images/ui3/tools/newtools_9ddbaad.png);
    background-repeat: no-repeat;
}

.right-container .ui3-control-wrap .boxutils {
  padding-right: 7px;
  background-position: -38px -116px;
}

.right-container .ui3-control-wrap .boxutils.active {
    background-position: -38px -48px;
}

.right-container .ui3-control-wrap .detail-box {
    position: absolute;
    width: 86px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    top: 34px;
    right: 0;
    float: left;
    display: none;
    z-index: 80000;
}

.right-container .ui3-control-wrap .boxinfo {
    list-style-type: none;
}

.right-container ul ol {
    list-style: none;
}

.right-container ul li {
    margin: 0;
    padding: 0;
}

.right-container .ui3-control-wrap .boxinfo li {
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    padding-left: 7px;
}

.right-container .ui3-control-wrap i.active {
    color: #579AFC;
}

.right-container .map_popup .title, .right-container .business_popup .title {
    border-bottom: 1px solid #dadada;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #4c4c4c;
    padding-left: 7px;
}

.right-container .sel_city_default {
    display: none;
    border-bottom: 1px solid #CCC;
    padding: 10px 0 10px 5px;
    margin-bottom: 13px;
    line-height: 22px;
}

.right-container .ui3-control-wrap .ui3-city-change-click .ui3-city-change-inner em, .ui3-control-wrap .ui3-city-change-click-close .ui3-city-change-inner em {
    background-position: -12px -177px;
}

.right-container .sel-city-hotcity {
    padding: 0 5px;
}

.right-container .sel-business {
    padding: 10px 5px;
}

.right-container .sel-business span{
    margin: 5px;
}

.right-container .ui3-control-wrap .trafficopt em {
    width: 7px;
    height: 7px;
    float: left;
    margin-top: 13px;
    margin-left: 5px;
    background-image: url(//webmap1.bdimg.com/wolfman/static/common/images/ui3/tools/newtools_9ddbaad.png);
    background-repeat: no-repeat;
    background-position: -13px -17px;
}

.right-container .ui3-control-wrap .traffic_control em, .right-container .ui3-control-wrap .ui3-city-change-click-close .ui3-city-change-inner em {
    background-position: -12px -177px;
}

.right-container .ui3-control-wrap .trafficopt em.active {
    background-position: -12px -177px;
}

.right-container .sel-city-hotcity span, .right-container .sel-business span{
    cursor: pointer;
}

.right-container span:hover{
    color: #579AFC;
}

.right-container i:hover{
    color: #579AFC;
}

.right-container .map_popup #selCityHotCityId .active{
    color: #579AFC;
}