.toolBar{
    float: right;
    z-index: 4;
    position: absolute;
    bottom: 45px;
    right: 11px;
    background-color: #fff;
}
.toolBar #scalebox {
    width: 29px;
    height: 56px;
    margin-top: 16px;
    padding: 0 2px;
    background: #fff;
    border-radius: 3px;
}

.toolBar .usel {
    -ms-user-select: none;
    user-select: none;
}

.toolBar .zdeps-1 {
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

.toolBar #scalebox .zoom_map.zoom_in_map {
    border-bottom: 1px #dfdfdf solid;
    background-position: -3px -8px;
}

.toolBar #scalebox .zoom_map {
    width: 24px;
    height: 16px;
    margin: 0 auto;
    padding: 10px 0;
    background: url(//www.amap.com/assets/img/scale.png) no-repeat;
    cursor: pointer;
}

.toolBar #scalebox .zoom_map.zoom_out_map {
    background-position: -3px -158px;
}